<%= form_for @profile, url: {action: @action}, html: { multipart: true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="edit-section">
<div class="container">

  <div class="row">
     <div class="col-lg-6 col-md-6">
  <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %><br/>
        </div>
      <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nick_name %>
  </div>

  <div class="field">
      <%= f.label :weight %><br />
      <%= f.text_field :weight %> kg<br/>
  </div>

  <div class="field">
      <%= f.label :height %><br />
      <%= f.text_field :height %> cm<br/>
  </div>


  <div class="field">
      <%= f.label :address1 %><br />
      <%= f.text_field :add1 %><br/>
      </div>
      <div class="field">
      <%= f.label :address2 %><br />
      <%= f.text_field :add2 %><br/>
      </div>
    </div>
 <div class="col-lg-6 col-md-6">
      <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %><br/>
      </div>
      <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state %><br/>
      </div>
      <div class="field">
      <%= f.label :postcode %><br />
      <%= f.text_field :post_code %><br/>
  </div>

<div class="field">
    <%= f.label :upload_image %>
    <%= f.file_field :photo%>
</div>


<div class="field">
  <%= f.label :birthday %><br />
<%= f.date_field :birthday%><br/>
</div>

</div>
</div>
<div class="row">

        <% Timeslot.all.each do |timeslot| %>
        <div class="col-md-2 col-sm-12">
            <%= check_box_tag "time[#{timeslot.id}]", timeslot.id, @timeslots[timeslot.id]%>
            <%= f.label timeslot.begintime.strftime("%I:%M %p") %>
            </div>
        <% end %>
    
</div>
</div>

</div>
<div class="text-center">
  <% if @action == 'create' %>
    <%= f.submit "create", class: "btn btn-default" %>
  <% else %>
    <%= f.submit "update", class: "btn btn-default" %>
    <br>
    <%= link_to "cancel", discovery_path, class: "btn btn-default" %>
  <% end %>
</div>
<% end %>

