<%= form_for(@profile, url: new_user_session_path) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.text_field :name %>
      <%= f.text_field :nick_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
