<%= form_for @profile, url: {action: @action}, html: { multipart: true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="edit-section">
<div class="container">
  <div class="row">
     <div class="col-lg-6 col-md-6">
  <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %><br/>
        </div>
      <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nick_name %>
     
  </div>

  <div class="field">
      <%= f.label :weight %><br />
      <%= f.text_field :weight %> kg<br/>
  </div>

  <div class="field">
      <%= f.label :height %><br />
      <%= f.text_field :height %> cm<br/>
  </div>


  <div class="field">
      <%= f.label :address1 %><br />
      <%= f.text_field :add1 %><br/>
      </div>
      <div class="field">
      <%= f.label :address2 %><br />
      <%= f.text_field :add2 %><br/>
      </div>
    </div>
 <div class="col-lg-6 col-md-6">
      <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %><br/>
      </div>
      <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state %><br/>
      </div>
      <div class="field">
      <%= f.label :postcode %><br />
      <%= f.text_field :post_code %><br/>     
  </div>

<div class="field">
    <%= f.label :upload_image %><br>
    <%= f.file_field :photo%>
</div>

 <div class="field">
<table style="width:50%">
  <tr>
    <td>Month</td>
    <td>Day</td> 
    <td>Year</td>
  </tr>
  <tr>
    <td>

      <select name="month">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </td>
     
    <td>
      <select name="day">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </td> 
     
    <td>
      <select name="year">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </td>
  </tr>
</table>
 </div>
</div>
</div>
</div>
</div>
<div class="text-center">
   <%= f.submit "Create Profile", class: "btn btn-default" %>
</div>
<% end %>
