<html lang="en">

<head>
    <meta charset="utf-8">


    <title>edit</title>



    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'>




</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<%= render 'layouts/nav' %>


        <!-- Page Content -->


            <div class="edit-section">
            <div class="container">
                <br><br><br>

                        <h2>They workout here</h2>

                        <div class="people">

                        <% @profiles_id.each do |profile_id| %>
                        <%= profile = Profile.find(profile_id)%>
                         <div class="col-lg-4 col-md-4">
                            <div class="text-center">
                            <h5><%= profile.name%></h5>
                          <a href= <%= profile_path(profile.id)%> >
                          <%= image_tag profile.photo.url(:thumb),class:"img-thumbnail img-responsive"%>
                           </a>
                         </div>
                     </div>

                         <% end %>
                         </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>
</body>
</html>
