<!DOCTYPE html>
<html>
<head>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title>Scrailibility</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class= '<%= controller.controller_name %>'>
	<% if user_signed_in? && current_user.profile %>
		<%= render 'layouts/nav' %>
	<% end %>
<!-- 	<% if user_signed_in? %>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href= <%= edit_profile_path(current_user.id)%>>profile</a></li>
				<li><a href="http://www..../faq">suggested matches</a></li>
				 <li><a href="http://www..../news">find a gym</a></li>

			</ul>
		</div>
	 </div>
	<% end %> -->
		<div id="main">
			<%= yield %>
  		</div>
</body>
</html>
