<!DOCTYPE html>
<html>
<head>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title >Spot Me</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>

  <%= csrf_meta_tags %>
</head>
<body class= "<%= controller.controller_name %>" style="padding-top: 70px;">
    <%= render 'layouts/nav' %>
	<% if controller.controller_name == "discoveries" %>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href= <%= edit_profile_path(current_user.id)%>>profile</a></li>
				<li><a href="http://www..../faq">suggested matches</a></li>
				 <li><a href="http://www..../news">find a gym</a></li> 
			</ul> 
		</div>
  	</div>
    <% end %>
    <div id="main" class="container">
        <%= yield %>
    </div>
</body>
</html>
